body {
    background-color:black;
}

h1 {
    color:grey;
}

.maindiv {
    background-color: white;
    color: black;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

.inputFields {
    padding: 0px 20px 0px 60px;
}

#highlight {
    background-color: none;
}
